{% extends 'layout/base.html' %}

{% block content %}
<br>
<div class="row">
    <div class="col-lg-4"></div>
    <div class="col-lg-4">
        <form action="/trace" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <label for="img">Image:</label>
                <input type="file" class="form-control" id="img" name="img">
            </div>
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</div>
    {% for i in message %}
    <h3>
        {% for j in i %}
        <span class="btn btn-success">
            {{ j }}
        </span>
        {% endfor %}
    </h3>
    {% endfor %}
{% endblock %}