{% extends 'layout/wikibase.html' %}

{% block content %}

    <div class="page-section home-page">
        <div class="hero-slider owl-carousel">
            <div class="slider-item d-flex align-items-center set-bg" data-setbg="{{ url_for('static',filename='img/whatsapp-3d-touch.png') }}" data-hash="slide-1">
                <div class="si-text-box">

                    <h2>Social Media Image Tracker</h2>
                    <p>Using Image Steganography and Perceptual Hashing</p>

                </div>

            </div>

        </div>
    </div>

{% endblock %}