{% extends 'layout/wikibase.html' %}

{% block content %}

    <div style="margin-top: 80px">
        <h2 style="text-align: center;">OBJECTIVES</h2> <br><br>
		<p style="font-family: serif; font-size: 25px">Real World Objective:
            To find out the main culprit for spreading false rumoured image on social media.
            Enhance security over Social Media.
        </p>
        <p style="font-family: serif; font-size: 25px">Technical Objective:
        Prevent any kind of intrusion of hacker from changing any information.
        Create a Strong Steganographic Algorithm.
        </p>

    </div>

{% endblock %}