{% extends 'layout/wikibase.html' %}

{% block content %}

    <div style="margin-top: 80px">
        <h2 style="text-align: center;">PERCEPTUAL HASHING</h2> <br><br>
		<p style="font-family: serif; font-size: 25px">There can also be an errorneous situation if
            the user changes the image in between ,which may lead to change in
            information. This may lead to chaos and confusion.
        </p>
        <p style="font-family: serif; font-size: 25px">Solution to the above problem is using Perceptual
            Hashing which can help us in checking the similarity
            between the incoming and outcoming image
        </p>

        <h3 style="font-family: serif; font-size: 25px">
            How is it done?
        </h3>
        <p style="font-family: serif; font-size: 25px">
            If the images are identical, the information will be copied to new
            image and chain will be continued.

        </p>

    </div>

{% endblock %}